<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <table>
    <thead>
      <td>Title</td>
      <td>Description </td>
      <td>Show</td>
    </thead>
    <% @articles.each do |article| %>
      <tr>
        <td><%=article.title %></td>
        <td><%=article.description %></td>
        <td> <%= link_to "Show this article", article %></td>
      </tr>
      <!-- <%= render article %>
        <p>
          <%= link_to "Show this article", article %>
        </p>
        -->
    <% end %>
  </table>
</div>

<%= link_to "New article", new_article_path %>
